@import "../variables";

ul.platform-lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 15px;
    row-gap: 16px;
    li.platform {
        position: relative;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.01);
        transition: all 0.3s ease-out;
        transform: scale(0.9);
        opacity: 0;
        a {
            color: white;
            display: grid;
            grid-template-rows: 60px auto;
            place-items: center;
            row-gap: 10px;
            padding: 10px;
            span.info {
                display: inline-block;
                font-size: 10px;
            }

            &.wordpress {
                background: $wordpress;
            }
            &.magento {
                background: $magento;
            }
            &.laravel {
                background: $laravel;
            }
            &.others {
                background: $others;
            }
        }
        &:hover {
            transform: translate(0px, -5px) scale(1.05) !important;
            -webkit-transform: translate(0px, -5px) scale(1.05) !important;
            -moz-transform: translate(0px, -5px) scale(1.05) !important;
            -ms-transform: translate(0px, -5px) scale(1.05) !important;
            -o-transform: translate(0px, -5px) scale(1.05) !important;
            box-shadow: none;
        }
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: white;
            opacity: 0.1;
        }
    }
}

.manual-install {
    .manual {
        font-size: 10px;
        margin-left: 10px;
    }

    .steps {
        margin-left: 10px;
        .step {
            margin-bottom: 8px;
            h5 {
                font-size: 16px;
                margin-bottom: 5px;
                background: linear-gradient($red 10%, $pink);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                font-weight: 900;
            }
            p {
                font-size: 12px;
            }
        }
    }
}
