@import "../variables";
@mixin colorText {
    background: linear-gradient($red 40%, $pink);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.faqs {
    .row-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 25px;
        row-gap: 40px;
        @media screen and(max-width:800px) {
            grid-template-columns: 1fr;
        }
    }

    .accordion {
        .accordion__item {
            margin-bottom: 10px;
            transition: all 0.5s ease-out;
            .accordion__button {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: $blackLight;
                padding: 15px;
                outline: none;

                h5 {
                    font-size: 14px;
                    margin-bottom: 5px;
                    transition: all 0.4s ease-out;
                }
                svg {
                    transition: all 0.4s ease-out;
                }

                &.expanded {
                    h5 {
                        @include colorText();
                        font-weight: 900;
                    }
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
            .accordion__panel {
                padding: 15px;
                padding-top: 0;
                background: $blackLight;
                p {
                    font-size: 10px;
                    font-style: italic;
                }
            }
        }
    }

    .guideline-list {
        p {
            font-size: 12px;
            span {
                @include colorText();
                font-weight: bold;
            }
        }

        .guideline {
            margin-bottom: 20px;
        }
    }
}
