@import "../variables";

.options {
    .row-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 25px;
        p.tag {
            font-size: 14px;
            margin: 5px 0;
            font-weight: bold;
        }

        p.query_text {
            font-size: 12px;
            font-style: italic;
        }
        .action {
            input {
                margin-right: 10px;
                font-size: 12px;
                padding: 4px 10px;
                background: $blackDark;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
            }
            input.del {
                background: $red;
            }
        }

        .search {
            &.edit {
                input#search {
                    padding: 8px;
                    font-size: 12px;
                    background: $blackDark;
                    border-radius: 3px;
                    &::placeholder {
                        opacity: 0.7;
                        font-size: 10px;
                        letter-spacing: 0;
                    }
                }
            }

            .searchbar {
                position: relative;
            }

            .searchIcon {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(10px, -50%);
                -webkit-transform: translate(10px, -50%);
                -moz-transform: translate(10px, -50%);
                -ms-transform: translate(10px, -50%);
                -o-transform: translate(10px, -50%);
            }

            input#search {
                width: 100%;
                height: 100%;
                background: none;
                padding: 8px 0px 8px 35px;
                caret-color: $grey;
                color: white;
                font-size: 14px;
                width: 100%;
            }
            input#search::placeholder {
                color: $grey;
                font-size: 12px;
                font-family: inherit;
                letter-spacing: 0.5px;
            }
        }
    }

    p.query_header {
        font-size: 12px;

        .caret {
            transition: transform 0.4s ease-out;
            -webkit-transition: transform 0.4s ease-out;
            -moz-transition: transform 0.4s ease-out;
            -ms-transition: transform 0.4s ease-out;
            -o-transition: transform 0.4s ease-out;

            &.ex {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
            }
        }
    }

    .string {
        width: 90%;
        margin-left: auto;
        display: grid;
        grid-template-columns: auto 1rem 1rem;
        column-gap: 5px;
        align-items: center;
        p {
            font-size: 10px;
        }
        svg {
            cursor: pointer;
        }
    }

    .accordion__item {
        margin-bottom: 10px;
    }
    .accordion__panel {
        margin: 15px 0;
    }
}

.connect {
    .swiper_card {
    }
}
