@import "../variables";

.widget {
    .row-grid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 18px;
        h5 {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 15px;
        }
        input {
            padding: 10px 22px;
            background: $blackLight;
            width: 100%;
            overflow: hidden;
        }
        label.spec {
            display: block;
            position: relative;
            cursor: pointer;
            span {
                color: rgba(255, 255, 255, 0.7);
                background: $blackDark;
                position: absolute;
                display: inline;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                padding: 5px 12px;
            }
            input[type="color"] {
                width: 107px;
                height: auto;
                top: 3px;
                bottom: 3px;
                display: inline-block;
                padding: 0;
                position: absolute;
                right: 5px;
                border: none;
                outline: none;
                cursor: pointer;
                border-color: transparent;
            }

            span.tooltip {
                position: absolute;
                font-size: 10px;
                border-radius: 10px;
                color: white;
                text-align: center;
                top: -50%;
                right: 0;
                background: rgba(0, 0, 0, 0.5);
                transition: all ease 0.4s;
                opacity: 0;
                width: 120px;

                &::before {
                    content: "";
                    position: absolute;
                    border: 7px solid white;
                    border-color: transparent rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) transparent;
                    bottom: 0%;
                    left: 50%;
                    transform: translate(-50%, 50%) rotate(45deg);
                    -webkit-transform: translate(-50%, 50%) rotate(45deg);
                    -moz-transform: translate(-50%, 50%) rotate(45deg);
                    -ms-transform: translate(-50%, 50%) rotate(45deg);
                    -o-transform: translate(-50%, 50%) rotate(45deg);
                }

                &.show {
                    opacity: 1;
                    top: -60%;
                }
            }
        }
        input[type="file"] {
            color: rgba(255, 255, 255, 0.7);
        }
        input[type="file"]::-webkit-file-upload-button {
            display: none;
        }

        .cta {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 25px;
            height: 45px;
            align-self: end;
            margin-bottom: 5px;
            input {
                &.reset {
                    background: $reset;
                }
                &.submit {
                    background: $save;
                }
            }
        }

        .posDrop {
            position: relative;
            .dropDown {
                width: 100%;
                height: auto;
                padding: 10px 24px;
                span {
                    right: 10px;
                }
            }
            .drop-down {
                width: 100%;
            }
        }
    }
}
