@import "../variables";

.widget {
    .row-grid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 18px;
        h5 {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 15px;
        }
        input {
            padding: 10px 22px;
            background: $blackLight;
            width: 100%;
            overflow: hidden;
        }
        label.spec {
            display: block;
            position: relative;
            cursor: pointer;
            span {
                color: rgba(255, 255, 255, 0.7);
                background: $blackDark;
                position: absolute;
                display: inline;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                padding: 5px 12px;
            }
            input[type="color"] {
                width: 107px;
                height: auto;
                top: 3px;
                bottom: 3px;
                display: inline-block;
                padding: 0;
                position: absolute;
                right: 5px;
                border: none;
                outline: none;
            }
        }
        input[type="file"] {
            color: rgba(255, 255, 255, 0.7);
        }
        input[type="file"]::-webkit-file-upload-button {
            display: none;
        }

        .cta {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 25px;
            height: 45px;
            align-self: end;
            input {
                &.reset {
                    background: $reset;
                }
                &.submit {
                    background: $save;
                }
            }
        }
    }
}
