@import "./variables";
@import "./panels/dashboard";
.panel {
    background: $blackDark;
    padding: 30px;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    @media screen and(max-width:500px) {
        & {
            padding: 15px;
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: $blackLight;
    }
    & .row > div {
        width: 100%;
    }

    .card-block {
        .card,
        .shadow {
            border-radius: 0;
            padding: 1rem;
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.1);
        }
    }

    .header_tag h3 {
        font-size: 22px;
        font-weight: bolder;
    }
}
.blacklight {
    background: $blackLight;
}
.blackdark {
    background: $blackDark;
}

.loading {
    background: $blackDark;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    span {
        width: 65px;
        height: 65px;
        margin-bottom: 30px;
    }

    h1 {
        animation: blnk 0.75s linear infinite;
        -webkit-animation: blnk 0.75s linear infinite;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

// .panel-wrapper {
//     width: 100%;
//     height: 100%;
// }

@import "./panels/dashboard";
@import "./panels//conversations";
@import "./panels/widgets";
@import "./panels/options";
@import "./panels/scripts";
@import "./panels/download_plugins";
@import "./panels/faqs";
