@import "./variables";
.routes {
    color: white !important;
    ul.list-group {
        border-radius: 0;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        row-gap: 1.1rem;
        padding: 30px 0;
        li.list-group-item {
            border: none !important;
            background: none;
            padding: 0;
            padding-left: 15px;
        }
        a {
            color: white;

            &.active .r-i-c::before {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }

    .r-i-c {
        display: grid;

        grid-template-columns: 35px auto;
        column-gap: 10px;
        align-items: center;
        cursor: pointer;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background: $red;
            width: 7px;
            height: 100%;
            opacity: 0;
            transform: translateX(-10px);
            transition: all 0.4s ease-out;
        }

        h2 {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .logout_wrapper {
        position: relative;
        .logout_btn {
            width: 120px;
            height: 35px;
            font-size: 14px;
            background: $blackDark;
            border-radius: 50px;
            line-height: 35px;
            padding-left: 1.25rem;
            font-weight: bold;
            text-align: center;

            span {
                position: absolute;
                width: 35px;
                height: 35px;
                background: $red;
                border-radius: 50%;
                top: 0;
                left: 0;
                display: grid;
                place-items: center;
            }
        }
    }
}

.logo.mobile {
    display: none;
}

.navBarBtn {
    width: 60px;
    height: 60px;
    background: $blackDark;
    border-radius: 50%;
    padding: 15px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    cursor: pointer;
    transform: scale(0.8);
    transform-origin: left;
    .line {
        width: 100%;
        height: 3px;
        background: White;
        border-radius: 5px;
        &:nth-child(2) {
            width: 66%;
        }
        &:nth-child(3) {
            width: 33%;
        }
    }
}

.main-controller {
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.closeIcon {
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    display: none;
}

.tabs.open {
    transform: translateX(0);
}

.chatList_item a {
    transition: background 0.3s ease;
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

@media only screen and (max-width: 992px) {
    span.card_label {
        font-size: 12px;
    }
    div.options {
        p {
            font-size: 10px;
        }
        .pages {
            .dropDown {
                width: 75px;
                font-size: 10px;
            }
        }
    }
    .closeIcon {
        display: block;
    }
    div.chats {
        max-height: 350px;
        height: auto;
        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 10px;
            background: none;
        }

        &::-webkit-scrollbar-thumb {
            background: $blackLight;
        }
    }
    div.convo_grid {
        display: grid;
        grid-template-columns: auto !important;
        row-gap: 30px;
        column-gap: 25px;
    }
    div.faqs .accordion .accordion__item .accordion__button h5 {
        font-size: 12px;
    }
    div.faqs .accordion .accordion__item .accordion__button svg {
        width: 15px;
        height: 15px;
    }
    #root {
        padding: 15px;
    }
    div.panel {
        height: calc(100vh - 120px);
    }
    .panel .dashboard {
        .card.blacklight {
            padding: 5px;
        }
    }
    .widget {
        h5 {
            margin-bottom: 10px;
        }
    }
    .main-controller {
        display: block;
    }
    .tabs {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: $blackDark;
        padding: 3rem 2rem;
        z-index: 99999;
        display: grid;
        place-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        svg {
            width: 20px;
            height: 20px;
        }
        ul.list-group {
            border-radius: 0;
            display: grid;
            grid-template-rows: repeat(9, 1fr);
            row-gap: 0.5rem;
            padding: 0px 0px;
        }
    }
    .NavBar {
        .searchbar {
            display: none;
        }
    }
    .logo.main {
        .navBarBtn {
            display: flex;
        }
        img {
            display: none;
        }
    }
    .mobile {
        justify-content: center;
        .logo {
            display: block;
        }
    }
}
