// primary
$red: #ed1c24;

// Dark shades
$blackLight: #333333;
$blackDark: #231f20;
$grey: #d0d0d0;

// secondary
$pink: #d80164;

// Downloads
$wordpress: #21759b;
$magento: #f46f25;
$laravel: #f55247;
$others: #3b5998;

// Widget buttons
$reset: #354f7c;
$save: #198a00;

$visitors: $red;
$chats: #29b6f6;
$leads: #fdd835;
$sales: #7cb342;
$services: #f4511e;
$others: #7e57c2;
