img {
  width: 100%;
}

#root {
  min-height: 100vh;
  padding: 30px;
}

.container,
.container-fluid,
.col-2,
.col-3,
.col-6,
.col-9,
.row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

input,
select,
button {
  outline: none;
  border: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0rem;
}

.drop-down {
  z-index: 999 !important;
  width: 100px;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 20px;
  background: #231f20;
  overflow: hidden;
}

.drop-down .card-header {
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.2);
}

.drop-down .card-body {
  padding: 0;
  font-size: 0.7rem;
}

.drop-down .card-body ul li {
  background: inherit;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.drop-down .card-body ul li:hover {
  background: #333333;
}

ul.rc-dropdown-menu {
  border-radius: 5px;
  background: #231f20;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border: 2px solid rgba(0, 0, 0, 0.125);
  outline: none;
}

ul.rc-dropdown-menu .rc-dropdown-menu-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white !important;
}

ul.rc-dropdown-menu .rc-dropdown-menu-item.active, ul.rc-dropdown-menu .rc-dropdown-menu-item:hover {
  background-color: #333 !important;
}

ul.rc-dropdown-menu .rc-dropdown-menu-item-divider {
  background: rgba(0, 0, 0, 0.125);
}

ul.rc-dropdown-menu .rc-dropdown-menu-item-selected {
  background: none;
}

.r-c {
  position: relative;
  padding-left: 15px;
}

.r-c::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: #ed1c24;
}

.r-c.r-c-16 h4 {
  padding: 5px 0;
  font-size: 14px;
}

.r-c.r-c-24 h4 {
  padding: 2px 0;
  font-size: 20px;
  font-weight: bold;
}

.container-fluid {
  position: relative;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
}

.dropDown,
.drop {
  z-index: 999;
}

*,
html,
body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #231f20;
  /*Oldbrowsers*/
  /*FF3.6-15*/
  /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(135deg, #231f20 0%, #ed1c24 100%);
  min-height: 100vh;
  font-family: Roboto;
}

.NavBar .row {
  width: 100%;
}

.NavBar .col-3,
.NavBar .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavBar .logo img {
  width: 100px;
}

.NavBar .search {
  float: left;
}

.NavBar .search .searchbar {
  position: relative;
}

.NavBar .search .searchBarConatiner {
  width: 300px;
  height: 40px;
  background: #231f20;
}

.NavBar .search .searchIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(15px, -50%);
  -webkit-transform: translate(15px, -50%);
  -moz-transform: translate(15px, -50%);
  -ms-transform: translate(15px, -50%);
  -o-transform: translate(15px, -50%);
}

.NavBar .search input#search {
  width: 100%;
  height: 100%;
  background: none;
  padding-left: 40px;
  caret-color: #d0d0d0;
  color: white;
  font-size: 14px;
}

.NavBar .search input#search::-webkit-input-placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .search input#search:-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .search input#search::-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .search input#search::placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.NavBar .utils .language,
.NavBar .utils .notification,
.NavBar .utils .profile {
  margin-left: 20px;
}

.NavBar .utils .language {
  width: 60px;
  color: white;
  font-size: 14px;
  position: relative;
}

.NavBar .utils .language .lang-box {
  width: 60px;
  height: 35px;
  padding: 0px 0.7rem;
  border-radius: 50px;
  background: #231f20;
  cursor: pointer;
}

.NavBar .utils .language .drop-down {
  z-index: 10000 !important;
  width: 100px;
  position: absolute;
  right: 0;
  border-radius: 20px;
  background: #231f20;
  overflow: hidden;
}

.NavBar .utils .language .drop-down .card-header {
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.2);
}

.NavBar .utils .language .drop-down .card-body {
  padding: 0;
  font-size: 0.7rem;
}

.NavBar .utils .language .drop-down .card-body ul li {
  background: inherit;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.NavBar .utils .language .drop-down .card-body ul li:hover {
  background: #333333;
}

.NavBar .utils .language span {
  position: absolute;
  background: #231f20;
  top: 50%;
  right: 0;
  pointer-events: none;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border-radius: 50px;
  -webkit-transform: translate(-0.45rem, -45%);
          transform: translate(-0.45rem, -45%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.NavBar .utils .language.drop span {
  transform: translate(-0.45rem, -50%) rotate(180deg);
  -webkit-transform: translate(-0.45rem, -50%) rotate(180deg);
  -moz-transform: translate(-0.45rem, -50%) rotate(180deg);
  -ms-transform: translate(-0.45rem, -50%) rotate(180deg);
  -o-transform: translate(-0.45rem, -50%) rotate(180deg);
}

.NavBar .utils .notification {
  position: relative;
}

.NavBar .utils .notification .notification-container {
  width: 40px;
  height: 40px;
  background: #231f20;
  border-radius: 50%;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  cursor: pointer;
}

.NavBar .utils .notification span.count {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ed1c24;
  top: 0;
  right: 0;
  border-radius: 50%;
}

.NavBar .utils .profile .profile-container {
  width: 55px;
  height: 55px;
  background: #231f20;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.drop-enter-done {
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
}

.drop-enter {
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.drop-enter-active {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.drop-exit {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.drop-exit-active {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.board {
  width: 100%;
}

.routes {
  color: white !important;
}

.routes ul.list-group {
  border-radius: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  row-gap: 1.1rem;
  padding: 30px 0;
}

.routes ul.list-group li.list-group-item {
  border: none !important;
  background: none;
  padding: 0;
  padding-left: 15px;
}

.routes ul.list-group a {
  color: white;
}

.routes ul.list-group a.active .r-i-c::before {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.routes .r-i-c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px auto;
      grid-template-columns: 35px auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.routes .r-i-c::before {
  position: absolute;
  content: "";
  background: #ed1c24;
  width: 7px;
  height: 100%;
  opacity: 0;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.routes .r-i-c h2 {
  font-size: 14px;
  font-weight: bold;
}

.routes .logout_wrapper {
  position: relative;
}

.routes .logout_wrapper .logout_btn {
  width: 120px;
  height: 35px;
  font-size: 14px;
  background: #231f20;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  line-height: 35px;
  padding-left: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.routes .logout_wrapper .logout_btn span {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #ed1c24;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .options {
  z-index: 999 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.header .options p {
  margin-right: 10px;
}

.graphs {
  font-size: 12px;
}

.graphs .dropDown {
  width: 80px;
  height: 1.5rem;
  padding: 0.5rem;
}

.pages,
.graphs {
  position: relative;
}

.dropDown {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 1.625rem;
  padding: 0.5rem;
  cursor: pointer;
}

.dropDown span {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.drop span {
  -webkit-transform: translate(0px, -55%) rotate(180deg);
          transform: translate(0px, -55%) rotate(180deg);
}

.graph {
  position: relative;
  height: 100%;
}

div.dashboard .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
}

div.dashboard .row-grid .card-block {
  width: 100%;
  height: 100%;
}

div.dashboard .pie-chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.row.today {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
}

.row.today .box {
  padding: 10px;
  background: #333333;
  border-radius: 5px;
}

.row.today .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.today .box .content .icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 50%;
}

.row.today .box .content .count {
  text-align: right;
}

.row.today .box .content h3 {
  margin: 10px auto;
}

.row.today .box hr {
  background: #444;
  height: 1px;
  margin: 0;
}

.row.today .box .tag {
  font-size: 8px;
  opacity: 0.7;
}

.box.visitors .icon {
  background: linear-gradient(45deg, #ed1c24, #ffbfc1);
  -webkit-box-shadow: 0px 5px 10px rgba(237, 28, 35, 0.5);
          box-shadow: 0px 5px 10px rgba(237, 28, 35, 0.5);
}

.box.chats .icon {
  background: linear-gradient(45deg, #29b6f6, #cef0ff);
  -webkit-box-shadow: 0px 5px 10px rgba(156, 212, 238, 0.5);
          box-shadow: 0px 5px 10px rgba(156, 212, 238, 0.5);
}

.box.leads .icon {
  background: linear-gradient(45deg, #fdd835, #fff6cc);
  -webkit-box-shadow: 0px 5px 10px rgba(253, 216, 53, 0.5);
          box-shadow: 0px 5px 10px rgba(253, 216, 53, 0.5);
}

.box.sales .icon {
  background: linear-gradient(45deg, #7cb342, #e3ffc2);
  -webkit-box-shadow: 0px 5px 10px rgba(124, 179, 66, 0.5);
          box-shadow: 0px 5px 10px rgba(124, 179, 66, 0.5);
}

.box.services .icon {
  background: linear-gradient(45deg, #f4511e, #ffd3c6);
  -webkit-box-shadow: 0px 5px 10px rgba(244, 80, 30, 0.5);
          box-shadow: 0px 5px 10px rgba(244, 80, 30, 0.5);
}

.box.others .icon {
  background: linear-gradient(45deg, #7e57c2, #eaddff);
  -webkit-box-shadow: 0px 5px 10px rgba(126, 87, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(126, 87, 194, 0.5);
}

.panel {
  background: #231f20;
  padding: 30px;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 150px);
}

@media screen and (max-width: 500px) {
  .panel {
    padding: 15px;
  }
}

.panel::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background: none;
}

.panel::-webkit-scrollbar-thumb {
  background: #333333;
}

.panel .row > div {
  width: 100%;
}

.panel .card-block .card,
.panel .card-block .shadow {
  border-radius: 0;
  padding: 1rem;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.panel .header_tag h3 {
  font-size: 22px;
  font-weight: bolder;
}

.blacklight {
  background: #333333;
}

.blackdark {
  background: #231f20;
}

.loading {
  background: #231f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.loading span {
  width: 65px;
  height: 65px;
  margin-bottom: 30px;
}

.loading h1 {
  animation: blnk 0.75s linear infinite;
  -webkit-animation: blnk 0.75s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .options {
  z-index: 999 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.header .options p {
  margin-right: 10px;
}

.graphs {
  font-size: 12px;
}

.graphs .dropDown {
  width: 80px;
  height: 1.5rem;
  padding: 0.5rem;
}

.pages,
.graphs {
  position: relative;
}

.dropDown {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 1.625rem;
  padding: 0.5rem;
  cursor: pointer;
}

.dropDown span {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.drop span {
  -webkit-transform: translate(0px, -55%) rotate(180deg);
          transform: translate(0px, -55%) rotate(180deg);
}

.graph {
  position: relative;
  height: 100%;
}

div.dashboard .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
}

div.dashboard .row-grid .card-block {
  width: 100%;
  height: 100%;
}

div.dashboard .pie-chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.row.today {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
}

.row.today .box {
  padding: 10px;
  background: #333333;
  border-radius: 5px;
}

.row.today .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.today .box .content .icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 50%;
}

.row.today .box .content .count {
  text-align: right;
}

.row.today .box .content h3 {
  margin: 10px auto;
}

.row.today .box hr {
  background: #444;
  height: 1px;
  margin: 0;
}

.row.today .box .tag {
  font-size: 8px;
  opacity: 0.7;
}

.box.visitors .icon {
  background: linear-gradient(45deg, #ed1c24, #ffbfc1);
  -webkit-box-shadow: 0px 5px 10px rgba(237, 28, 35, 0.5);
          box-shadow: 0px 5px 10px rgba(237, 28, 35, 0.5);
}

.box.chats .icon {
  background: linear-gradient(45deg, #29b6f6, #cef0ff);
  -webkit-box-shadow: 0px 5px 10px rgba(156, 212, 238, 0.5);
          box-shadow: 0px 5px 10px rgba(156, 212, 238, 0.5);
}

.box.leads .icon {
  background: linear-gradient(45deg, #fdd835, #fff6cc);
  -webkit-box-shadow: 0px 5px 10px rgba(253, 216, 53, 0.5);
          box-shadow: 0px 5px 10px rgba(253, 216, 53, 0.5);
}

.box.sales .icon {
  background: linear-gradient(45deg, #7cb342, #e3ffc2);
  -webkit-box-shadow: 0px 5px 10px rgba(124, 179, 66, 0.5);
          box-shadow: 0px 5px 10px rgba(124, 179, 66, 0.5);
}

.box.services .icon {
  background: linear-gradient(45deg, #f4511e, #ffd3c6);
  -webkit-box-shadow: 0px 5px 10px rgba(244, 80, 30, 0.5);
          box-shadow: 0px 5px 10px rgba(244, 80, 30, 0.5);
}

.box.others .icon {
  background: linear-gradient(45deg, #7e57c2, #eaddff);
  -webkit-box-shadow: 0px 5px 10px rgba(126, 87, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(126, 87, 194, 0.5);
}

.conversations_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 100%;
      grid-template-rows: auto 100%;
}

.conversations_main .convo_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 1.75fr 1fr;
      grid-template-columns: 1.25fr 1.75fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.conversations_main .chats,
.conversations_main .messages_wrapper,
.conversations_main form textarea {
  overflow-y: scroll;
}

.conversations_main .chats::-webkit-scrollbar,
.conversations_main .messages_wrapper::-webkit-scrollbar,
.conversations_main form textarea::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background: none;
}

.conversations_main .chats::-webkit-scrollbar-thumb,
.conversations_main .messages_wrapper::-webkit-scrollbar-thumb,
.conversations_main form textarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.conversations_main .conversations .messages_wrapper {
  padding: 20px;
  padding-top: 80px;
}

.conversations_main .messages_wrapper,
.conversations_main .PreCon {
  height: 650px;
}

.conversations_main .message_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
}

.conversations_main .messages {
  height: 100%;
  position: relative;
}

.conversations_main .PreCon {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.conversations_main .PreCon span {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.conversations_main .PreCon.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: auto;
  padding: 15px;
  font-size: 10px;
  padding: 50px 20px;
  background: #333333;
}

.conversations_main .PreCon.inline span {
  width: 15px;
  height: 15px;
  font-size: 10px;
}

.chats .chatList {
  width: 100%;
}

.chats .chatList_item {
  width: 100%;
}

.chats .chatList_item a {
  color: white;
  display: inline-block;
  padding: 15px;
  border-radius: 7px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 3fr;
      grid-template-columns: 40px 3fr;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.chats .chatList_item a .icon_status {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.chats .chatList_item a .icon_status.success {
  background: #4bb543;
}

.chats .chatList_item a .icon_status.pending {
  background: #ffcc00;
  color: #ed1c24;
}

.chats .chatList_item .active {
  background: #231f20;
}

.conversations .messages {
  position: relative;
}

.conversations .message_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  z-index: 10;
}

.conversations .message_header hr {
  margin: 10px 0 5px;
  background: rgba(255, 255, 255, 0.5);
}

.conversations .message_box {
  font-size: 10px;
  margin-top: 15px;
}

.conversations .message_box .sender {
  font-weight: lighter;
  opacity: 0.8;
}

.conversations .message_box .box {
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  margin-top: 3px;
}

.conversations .message_box .box .time {
  font-size: 8px;
  margin: 3px 0;
  opacity: 0.75;
}

.conversations .message_box.agent .box {
  background: #ed1c24;
}

.conversations .message_box.user .box {
  background: #354f7c;
}

.info .detail_box,
.info .visitor_box {
  margin: 15px 0;
}

.info .detail_box p,
.info .visitor_box p {
  font-size: 12px;
  margin: 5px auto;
  font-weight: 300;
}

.info .detail_box p span,
.info .visitor_box p span {
  font-weight: 700;
}

.info .dispute_btn {
  border-radius: 5px;
  color: white;
  width: 100%;
  font-size: 12px;
  padding: 8px 20px;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#d80164));
  background: linear-gradient(180deg, #ed1c24 0%, #d80164 100%);
  -webkit-box-shadow: 0px 5px 10px rgba(216, 1, 101, 0.5);
          box-shadow: 0px 5px 10px rgba(216, 1, 101, 0.5);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.info .dispute_btn.disabled {
  background: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#363636));
  background: linear-gradient(180deg, #7c7c7c 0%, #363636 100%);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.info .dispute_btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

form textarea {
  height: 100px;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  border: none;
  outline: none;
  resize: none;
  color: white;
  font-size: 12px;
}

.classify .drop .leadType {
  background: none;
  font-size: 12px;
}

.classify {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
}

.disputeTab-enter {
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.disputeTab-enter-active {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.disputeTab-exit {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.disputeTab-exit-active {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.widget {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 10%;
          column-gap: 10%;
  row-gap: 18px;
}

.widget .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 18px;
}

.widget .row-grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.widget .row-grid h5 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}

.widget .row-grid input {
  padding: 10px 22px;
  background: #333333;
  width: 100%;
  overflow: hidden;
}

.widget .row-grid label.spec {
  display: block;
  position: relative;
  cursor: pointer;
}

.widget .row-grid label.spec span {
  color: rgba(255, 255, 255, 0.7);
  background: #231f20;
  position: absolute;
  display: inline;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px 12px;
}

.widget .row-grid label.spec input[type="color"] {
  width: 100px;
  height: auto;
  top: 3px;
  bottom: 3px;
  display: inline-block;
  padding: 0;
  position: absolute;
  right: 5px;
  cursor: pointer;
  border-color: transparent;
}

.widget .row-grid label.spec span.tooltip {
  position: absolute;
  font-size: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  top: -50%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  opacity: 0;
  width: 120px;
}

.widget .row-grid label.spec span.tooltip::before {
  content: "";
  position: absolute;
  border: 7px solid white;
  border-color: transparent rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) transparent;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  -moz-transform: translate(-50%, 50%) rotate(45deg);
  -ms-transform: translate(-50%, 50%) rotate(45deg);
  -o-transform: translate(-50%, 50%) rotate(45deg);
}

.widget .row-grid label.spec span.tooltip.show {
  opacity: 1;
  top: -60%;
}

.widget .row-grid input[type="file"] {
  color: rgba(255, 255, 255, 0.7);
}

.widget .row-grid input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.widget .row-grid input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.widget .row-grid .cta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  height: 45px;
  -ms-grid-row-align: end;
      align-self: end;
}

.widget .row-grid .cta input {
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
}

.widget .row-grid .cta input:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.widget .row-grid .cta input.reset {
  background: #354f7c;
}

.widget .row-grid .cta input.submit {
  background: #198a00;
}

.widget .row-grid .posDrop {
  position: relative;
}

.widget .row-grid .posDrop .dropDown {
  width: 100%;
  height: auto;
  padding: 10px 24px;
}

.widget .row-grid .posDrop .dropDown span {
  right: 10px;
}

.widget .row-grid .posDrop .drop-down {
  width: 100%;
}

.options .connect .row .slider-row {
  height: 200px;
  position: relative;
}

.options .connect .row .slider-row .slider {
  padding: 30px 35px;
  overflow: hidden;
  width: 100%;
}

.options .connect .row .slider-row .swiper-container {
  margin: 0;
  overflow: visible;
  margin-top: -10px;
}

.options .connect .row .slider-row .swiper-container .swiper-button-next,
.options .connect .row .slider-row .swiper-container .swiper-button-prev {
  background: url("../img/caret.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 24px;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
}

.options .connect .row .slider-row .swiper-container .swiper-button-next::after,
.options .connect .row .slider-row .swiper-container .swiper-button-prev::after {
  content: "";
}

.options .connect .row .slider-row .swiper-container .swiper-button-prev {
  left: -30px;
}

.options .connect .row .slider-row .swiper-container .swiper-button-next {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  right: -30px;
}

.options .connect .row .slider-row .swiper_card,
.options .connect .row .slider-row .swiper-slide {
  width: 210px !important;
  height: 150px;
  margin-right: 25px;
}

.options .connect .row .slider-row .swiper-slide:last-child {
  padding-right: 100px;
}

.options .connect .row .slider-row .swiper_card {
  position: relative;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  place-items: center;
}

.options .connect .row .slider-row .swiper_card .con_Status {
  position: absolute;
  top: 8px;
  left: 8px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  font-size: 8px;
}

.options .connect .row .slider-row .swiper_card .con_Status .indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #595959;
}

.options .connect .row .slider-row .swiper_card .con_Status .indicator.Connected {
  background: #12ff00;
  -webkit-box-shadow: 0px 0px 5px #4bb543, 0px 0px 10px #4bb543, 0px 0px 20px #4bb543;
          box-shadow: 0px 0px 5px #4bb543, 0px 0px 10px #4bb543, 0px 0px 20px #4bb543;
}

.options .connect .row .slider-row .swiper_card .con_tag {
  font-size: 10px;
  display: inline-block;
  text-align: center;
}

.options .connect .row .slider-row .swiper_card .con_btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 12px;
  padding: 5px 1.6rem;
  border-radius: 50px;
}

.options .connect .row .slider-row .swiper_card .con_btn.disconnect {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7b7b), to(#ed1c24));
  background: linear-gradient(180deg, #ff7b7b 0%, #ed1c24 100%);
  -webkit-box-shadow: 0px 2px 10px rgba(237, 28, 36, 0.2), 0px 4px 14px rgba(237, 28, 36, 0.35);
          box-shadow: 0px 2px 10px rgba(237, 28, 36, 0.2), 0px 4px 14px rgba(237, 28, 36, 0.35);
}

.options .connect .row .slider-row .swiper_card .con_btn.connect {
  background: -webkit-gradient(linear, left top, left bottom, from(#4bb543), to(#198a00));
  background: linear-gradient(180deg, #4bb543 0%, #198a00 100%);
}

.options form {
  width: 100%;
  font-size: 12px;
}

.options form .form_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 10%;
          column-gap: 10%;
  row-gap: 16px;
}

.options form h5.tag {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

.options form input {
  padding: 5px;
  background: #231f20;
  width: 100%;
  overflow: hidden;
}

.options form .dropDown {
  width: 100%;
}

.options form .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options form .cta {
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: end;
      align-self: end;
}

.options form .cta button {
  background: #198a00;
  margin-left: auto;
  display: inline-block;
  padding: 5px 50px;
  font-size: 16px;
}

.Facebook .icon svg {
  fill: #3b5998;
  stroke-width: 0;
}

.Instagram .icon svg {
  stroke-width: 2px !important;
  stroke: #f55247;
}

.Linkedin .icon svg {
  stroke-width: 0;
  fill: var(--blue);
}

.swiper_card .actions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  font-size: 8px;
}

.swiper_card .actions svg {
  stroke: white;
  fill: white;
  cursor: pointer;
}

.swiper_card .actions svg.delete {
  fill: #ed1c24;
}

.addLinkCard {
  position: relative;
}

.addLinkCard .addLink {
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#d80164));
  background: linear-gradient(180deg, #ed1c24 0%, #d80164 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50px;
  font-size: 10px;
  padding: 5px 1.2rem;
}

.addLinkCard .addLink:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.cardDrop {
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
}

.cardDrop-enter {
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.cardDrop-enter-active {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.cardDrop-exit {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.cardDrop-exit-active {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.conSlider-enter {
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.conSlider-enter-active {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.conSlider-exit {
  opacity: 1;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.conSlider-exit-active {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.options .con {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.options .con .tag {
  font-size: 10px;
  margin-bottom: 3px;
}

.options .con input {
  font-size: 12px;
  padding: 3px;
}

.options .con button.submit {
  background: -webkit-gradient(linear, left top, left bottom, from(#4bb543), to(#198a00));
  background: linear-gradient(180deg, #4bb543 0%, #198a00 100%);
  padding: 3px 10px;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 1;
}

.scripts p.tag {
  font-size: 14px;
  margin: 5px 0;
  font-weight: bold;
}

.scripts p.query_text {
  font-size: 12px;
  font-style: italic;
}

.scripts .action input {
  margin-right: 10px;
  font-size: 12px;
  padding: 4px 10px;
  background: #231f20;
  border-radius: 3px;
}

.scripts .action input.del {
  background: #ed1c24;
}

.scripts .action input.edit {
  background: #354f7c;
}

.scripts form input[type="button"],
.scripts form input[type="submit"] {
  display: inline;
  width: unset;
}

.scripts .search.edit input#search {
  padding: 8px;
  font-size: 12px;
  background: #231f20;
  border-radius: 3px;
}

.scripts .search.edit input#search::-webkit-input-placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.scripts .search.edit input#search:-ms-input-placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.scripts .search.edit input#search::-ms-input-placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.scripts .search.edit input#search::placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.scripts .search .searchbar {
  position: relative;
}

.scripts .search .searchIcon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
}

.scripts .search input#search {
  width: 100%;
  height: 100%;
  background: none;
  padding: 8px 0px 8px 35px;
  caret-color: #d0d0d0;
  color: white;
  font-size: 14px;
  width: 100%;
}

.scripts .search input#search::-webkit-input-placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.scripts .search input#search:-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.scripts .search input#search::-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.scripts .search input#search::placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.scripts .overflow {
  max-height: 60vh;
  overflow-y: scroll;
}

.scripts .overflow::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background: none;
}

.scripts .overflow::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.scripts p.query_header {
  font-size: 12px;
}

.scripts p.query_header .caret {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.scripts p.query_header .caret.ex {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scripts .string-container {
  width: 100%;
  position: relative;
}

.scripts .string-container .string {
  width: calc(100% - 40px);
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1rem 1rem;
      grid-template-columns: auto 1rem 1rem;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scripts .string-container .string p {
  font-size: 10px;
}

.scripts .string-container .string svg {
  cursor: pointer;
}

.scripts .string-container::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #a1a1a1;
  border-radius: 50%;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scripts .accordion__item {
  margin-bottom: 10px;
}

.scripts .accordion__button {
  position: relative;
  z-index: 2;
}

.scripts .accordion__panel {
  position: relative;
  margin: 15px 0;
}

.scripts .accordion__panel::before {
  position: absolute;
  content: "";
  background: #888888;
  width: 1px;
  top: 0px;
  height: 100%;
  left: 20px;
}

.scripts .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media only screen and (max-width: 800px) {
  .scripts .row-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 30px;
  }
}

.scripts .spInstruct p {
  font-size: 12px;
}

.scripts .spInstruct p span {
  color: #ed1c24;
  font-weight: bold;
}

.scripts .spInstruct .instruction {
  margin-bottom: 20px;
}

ul.platform-lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 16px;
}

ul.platform-lists li.platform {
  position: relative;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3), 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3), 0px 4px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
}

ul.platform-lists li.platform a {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  place-items: center;
  row-gap: 10px;
  padding: 10px;
}

ul.platform-lists li.platform a span.info {
  display: inline-block;
  font-size: 10px;
}

ul.platform-lists li.platform a.wordpress {
  background: #21759b;
}

ul.platform-lists li.platform a.magento {
  background: #f46f25;
}

ul.platform-lists li.platform a.laravel {
  background: #f55247;
}

ul.platform-lists li.platform a.others {
  background: #7e57c2;
}

ul.platform-lists li.platform:hover {
  -webkit-transform: translate(0px, -5px) scale(1.05) !important;
          transform: translate(0px, -5px) scale(1.05) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul.platform-lists li.platform::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: white;
  opacity: 0.1;
  pointer-events: none;
}

.manual-install .manual {
  font-size: 10px;
  margin-left: 10px;
}

.manual-install .steps {
  margin-left: 10px;
}

.manual-install .steps .step {
  margin-bottom: 8px;
}

.manual-install .steps .step h5 {
  font-size: 16px;
  margin-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ed1c24), to(#d80164));
  background: linear-gradient(#ed1c24 10%, #d80164);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}

.manual-install .steps .step p {
  font-size: 12px;
}

.faqs .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 40px;
}

@media screen and (max-width: 800px) {
  .faqs .row-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.faqs .accordion .accordion__item {
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.faqs .accordion .accordion__item .accordion__button {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
  padding: 15px;
  outline: none;
}

.faqs .accordion .accordion__item .accordion__button h5 {
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

.faqs .accordion .accordion__item .accordion__button svg {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.faqs .accordion .accordion__item .accordion__button.expanded h5 {
  color: #ed1c24;
}

.faqs .accordion .accordion__item .accordion__button.expanded svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faqs .accordion .accordion__item .accordion__panel {
  background: #333333;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  max-height: 0px;
  overflow: hidden;
}

.faqs .accordion .accordion__item .accordion__panel.para-expanded {
  max-height: 100px;
  overflow: hidden;
}

.faqs .accordion .accordion__item .accordion__panel p {
  padding: 15px;
  padding-top: 0;
  font-size: 10px;
  font-style: italic;
}

.faqs .guideline-list p {
  font-size: 12px;
}

.faqs .guideline-list p span {
  color: #ed1c24;
  font-weight: bold;
}

.faqs .guideline-list .guideline {
  margin-bottom: 20px;
}

.faqs [hidden] {
  display: block !important;
}
/*# sourceMappingURL=style.css.map */