img {
  width: 100%;
}

#root {
  min-height: 100vh;
  padding: 30px;
}

.container,
.container-fluid,
.col-2,
.col-3,
.col-6,
.col-9,
.row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

input,
select,
button {
  outline: none;
  border: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0rem;
}

.drop-down {
  z-index: 99;
  width: 100px;
  position: absolute;
  right: 0;
  border-radius: 20px;
  background: #231f20;
  overflow: hidden;
}

.drop-down .card-header {
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.2);
}

.drop-down .card-body {
  padding: 0;
  font-size: 0.7rem;
}

.drop-down .card-body ul li {
  background: inherit;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.drop-down .card-body ul li:hover {
  background: #333333;
}

.r-c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5px auto;
      grid-template-columns: 5px auto;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.r-c span.rect {
  width: 100%;
  height: 100%;
  background: #ed1c24;
}

.r-c.r-c-16 h4 {
  padding: 5px 0;
  font-size: 14px;
}

.r-c.r-c-24 {
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.r-c.r-c-24 h4 {
  padding: 2px 0;
  font-size: 20px;
  font-weight: bold;
}

.container-fluid {
  position: relative;
}

a {
  text-decoration: none !important;
}

*,
html,
body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #231f20;
  /*Oldbrowsers*/
  /*FF3.6-15*/
  /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(135deg, #231f20 0%, #ed1c24 100%);
  min-height: 100vh;
  font-family: Roboto;
}

.NavBar .row {
  width: 100%;
}

.NavBar .col-3,
.NavBar .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavBar .logo img {
  width: 100px;
}

.NavBar .search {
  float: left;
}

.NavBar .search .searchbar {
  position: relative;
}

.NavBar .search .searchBarConatiner {
  width: 300px;
  height: 40px;
  background: #231f20;
}

.NavBar .search .searchIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(15px, -50%);
  -webkit-transform: translate(15px, -50%);
  -moz-transform: translate(15px, -50%);
  -ms-transform: translate(15px, -50%);
  -o-transform: translate(15px, -50%);
}

.NavBar .search input#search {
  width: 100%;
  height: 100%;
  background: none;
  padding-left: 40px;
  caret-color: #d0d0d0;
  color: white;
  font-size: 14px;
}

.NavBar .search input#search::-webkit-input-placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .search input#search:-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .search input#search::-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .search input#search::placeholder {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
}

.NavBar .utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.NavBar .utils .language,
.NavBar .utils .notification,
.NavBar .utils .profile {
  margin-left: 20px;
}

.NavBar .utils .language {
  width: 60px;
  color: white;
  font-size: 14px;
  position: relative;
}

.NavBar .utils .language .lang-box {
  width: 60px;
  height: 35px;
  padding: 0px 0.7rem;
  border-radius: 50px;
  background: #231f20;
  cursor: pointer;
}

.NavBar .utils .language .drop-down {
  z-index: 99;
  width: 100px;
  position: absolute;
  right: 0;
  border-radius: 20px;
  background: #231f20;
  overflow: hidden;
}

.NavBar .utils .language .drop-down .card-header {
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.2);
}

.NavBar .utils .language .drop-down .card-body {
  padding: 0;
  font-size: 0.7rem;
}

.NavBar .utils .language .drop-down .card-body ul li {
  background: inherit;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.NavBar .utils .language .drop-down .card-body ul li:hover {
  background: #333333;
}

.NavBar .utils .language span {
  position: absolute;
  background: #231f20;
  top: 50%;
  right: 0;
  pointer-events: none;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border-radius: 50px;
  -webkit-transform: translate(-0.45rem, -45%);
          transform: translate(-0.45rem, -45%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.NavBar .utils .language.drop span {
  transform: translate(-0.45rem, -50%) rotate(180deg);
  -webkit-transform: translate(-0.45rem, -50%) rotate(180deg);
  -moz-transform: translate(-0.45rem, -50%) rotate(180deg);
  -ms-transform: translate(-0.45rem, -50%) rotate(180deg);
  -o-transform: translate(-0.45rem, -50%) rotate(180deg);
}

.NavBar .utils .notification {
  position: relative;
}

.NavBar .utils .notification .notification-container {
  width: 40px;
  height: 40px;
  background: #231f20;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  cursor: pointer;
}

.NavBar .utils .notification span.count {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ed1c24;
  top: 0;
  right: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.NavBar .utils .profile .profile-container {
  width: 55px;
  height: 55px;
  background: #231f20;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.drop-enter-done {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}

.drop-enter {
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.drop-enter-active {
  opacity: 1;
  transform: translateY(10px);
  transition: all 200ms;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.drop-exit {
  opacity: 1;
  transform: translateY(10px);
  transition: all 200ms;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.drop-exit-active {
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.board {
  width: 100%;
}

.routes {
  color: white !important;
}

.routes ul.list-group {
  border-radius: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  row-gap: 1.1rem;
  padding: 30px 0;
}

.routes ul.list-group li.list-group-item {
  border: none !important;
  background: none;
  padding: 0;
}

.routes ul.list-group a {
  color: white;
}

.routes ul.list-group a.active span.rect {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.routes .r-i-c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5px 35px auto;
      grid-template-columns: 5px 35px auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.routes .r-i-c span {
  background: #ed1c24;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.routes .r-i-c h2 {
  font-size: 14px;
  font-weight: bold;
}

.routes .logout_wrapper {
  position: relative;
}

.routes .logout_wrapper .logout_btn {
  width: 120px;
  height: 35px;
  font-size: 14px;
  background: #231f20;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  line-height: 35px;
  padding-left: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.routes .logout_wrapper .logout_btn span {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #ed1c24;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.header .options p {
  margin-right: 10px;
}

.graphs {
  font-size: 12px;
}

.graphs .dropDown {
  width: 80px;
  height: 1.5rem;
  padding: 0.5rem;
}

.pages,
.graphs {
  position: relative;
}

.dropDown {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 1.625rem;
  padding: 0.5rem;
  cursor: pointer;
}

.dropDown span {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
  -moz-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  -o-transform: translate(0px, -50%);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.drop span {
  transform: translate(0px, -55%) rotate(180deg);
  -webkit-transform: translate(0px, -55%) rotate(180deg);
  -moz-transform: translate(0px, -55%) rotate(180deg);
  -ms-transform: translate(0px, -55%) rotate(180deg);
  -o-transform: translate(0px, -55%) rotate(180deg);
}

.graph {
  position: relative;
}

div.dashboard .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

div.dashboard .row-grid .card-block {
  width: 100%;
  height: 100%;
}

div.dashboard .pie-chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.today {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6)[1fr];
      grid-template-columns: repeat(1fr, 6);
}

.panel {
  background: #231f20;
  padding: 30px;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 150px);
}

.panel::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: none;
}

.panel::-webkit-scrollbar-thumb {
  background: #333333;
}

.panel .row > div {
  width: 100%;
}

.panel .card-block .card {
  border-radius: 0;
  padding: 1rem;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.panel .header_tag h3 {
  font-size: 22px;
  font-weight: bolder;
}

.blacklight {
  background: #333333;
}

.blackdark {
  background: #231f20;
}

.loading {
  background: #231f20;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: 99;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.header .options p {
  margin-right: 10px;
}

.graphs {
  font-size: 12px;
}

.graphs .dropDown {
  width: 80px;
  height: 1.5rem;
  padding: 0.5rem;
}

.pages,
.graphs {
  position: relative;
}

.dropDown {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 1.625rem;
  padding: 0.5rem;
  cursor: pointer;
}

.dropDown span {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
  -moz-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  -o-transform: translate(0px, -50%);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.drop span {
  transform: translate(0px, -55%) rotate(180deg);
  -webkit-transform: translate(0px, -55%) rotate(180deg);
  -moz-transform: translate(0px, -55%) rotate(180deg);
  -ms-transform: translate(0px, -55%) rotate(180deg);
  -o-transform: translate(0px, -55%) rotate(180deg);
}

.graph {
  position: relative;
}

div.dashboard .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

div.dashboard .row-grid .card-block {
  width: 100%;
  height: 100%;
}

div.dashboard .pie-chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.today {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6)[1fr];
      grid-template-columns: repeat(1fr, 6);
}

ul.platform-lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

ul.platform-lists li.platform {
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.01);
}

ul.platform-lists li.platform a {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  place-items: center;
  row-gap: 10px;
  padding: 10px;
}

ul.platform-lists li.platform a span.info {
  display: inline-block;
  font-size: 10px;
}

ul.platform-lists li.platform a.wordpress {
  background: #21759b;
}

ul.platform-lists li.platform a.magento {
  background: #f46f25;
}

ul.platform-lists li.platform a.laravel {
  background: #f55247;
}

ul.platform-lists li.platform a.others {
  background: #3b5998;
}

.manual-install .manual {
  font-size: 10px;
  margin-left: 10px;
}

.manual-install .steps {
  margin-left: 10px;
}

.manual-install .steps .step {
  margin-bottom: 8px;
}

.manual-install .steps .step h5 {
  font-size: 16px;
  margin-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ed1c24), to(#d80164));
  background: linear-gradient(#ed1c24 10%, #d80164);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}

.manual-install .steps .step p {
  font-size: 12px;
}

.widget .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 18px;
}

.widget .row-grid h5 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}

.widget .row-grid input {
  padding: 10px 22px;
  background: #333333;
  width: 100%;
  overflow: hidden;
}

.widget .row-grid label.spec {
  display: block;
  position: relative;
  cursor: pointer;
}

.widget .row-grid label.spec span {
  color: rgba(255, 255, 255, 0.7);
  background: #231f20;
  position: absolute;
  display: inline;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 5px 12px;
}

.widget .row-grid label.spec input[type="color"] {
  width: 107px;
  height: auto;
  top: 3px;
  bottom: 3px;
  display: inline-block;
  padding: 0;
  position: absolute;
  right: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  border-color: transparent;
}

.widget .row-grid label.spec span.tooltip {
  position: absolute;
  font-size: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  top: -50%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  opacity: 0;
  width: 120px;
}

.widget .row-grid label.spec span.tooltip::before {
  content: "";
  position: absolute;
  border: 7px solid white;
  border-color: transparent rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) transparent;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  -moz-transform: translate(-50%, 50%) rotate(45deg);
  -ms-transform: translate(-50%, 50%) rotate(45deg);
  -o-transform: translate(-50%, 50%) rotate(45deg);
}

.widget .row-grid label.spec span.tooltip.show {
  opacity: 1;
  top: -60%;
}

.widget .row-grid input[type="file"] {
  color: rgba(255, 255, 255, 0.7);
}

.widget .row-grid input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.widget .row-grid .cta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  height: 45px;
  -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 5px;
}

.widget .row-grid .cta input.reset {
  background: #354f7c;
}

.widget .row-grid .cta input.submit {
  background: #198a00;
}

.widget .row-grid .posDrop {
  position: relative;
}

.widget .row-grid .posDrop .dropDown {
  width: 100%;
  height: auto;
  padding: 10px 24px;
}

.widget .row-grid .posDrop .dropDown span {
  right: 10px;
}

.widget .row-grid .posDrop .drop-down {
  width: 100%;
}

.faqs .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.faqs .accordion .accordion__item {
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.faqs .accordion .accordion__item .accordion__button {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
  padding: 15px;
  outline: none;
}

.faqs .accordion .accordion__item .accordion__button h5 {
  font-size: 12px;
  margin-bottom: 5px;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.faqs .accordion .accordion__item .accordion__button svg {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.faqs .accordion .accordion__item .accordion__button.expanded h5 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ed1c24), to(#d80164));
  background: linear-gradient(#ed1c24 10%, #d80164);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}

.faqs .accordion .accordion__item .accordion__button.expanded svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.faqs .accordion .accordion__item .accordion__panel {
  padding: 15px;
  padding-top: 0;
  background: #333333;
}

.faqs .accordion .accordion__item .accordion__panel p {
  font-size: 10px;
  font-style: italic;
}

.faqs .guideline-list p {
  font-size: 12px;
}

.faqs .guideline-list p span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ed1c24), to(#d80164));
  background: linear-gradient(#ed1c24 10%, #d80164);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.faqs .guideline-list .guideline {
  margin-bottom: 20px;
}

.options .row-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.options .row-grid p.tag {
  font-size: 14px;
  margin: 5px 0;
  font-weight: bold;
}

.options .row-grid p.query_text {
  font-size: 12px;
  font-style: italic;
}

.options .row-grid .action input {
  margin-right: 10px;
  font-size: 12px;
  padding: 4px 10px;
  background: #231f20;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.options .row-grid .action input.del {
  background: #ed1c24;
}

.options .row-grid .search.edit input#search {
  padding: 8px;
  font-size: 12px;
  background: #231f20;
  border-radius: 3px;
}

.options .row-grid .search.edit input#search::-webkit-input-placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.options .row-grid .search.edit input#search:-ms-input-placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.options .row-grid .search.edit input#search::-ms-input-placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.options .row-grid .search.edit input#search::placeholder {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 0;
}

.options .row-grid .search .searchbar {
  position: relative;
}

.options .row-grid .search .searchIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10px, -50%);
  -webkit-transform: translate(10px, -50%);
  -moz-transform: translate(10px, -50%);
  -ms-transform: translate(10px, -50%);
  -o-transform: translate(10px, -50%);
}

.options .row-grid .search input#search {
  width: 100%;
  height: 100%;
  background: none;
  padding: 8px 0px 8px 35px;
  caret-color: #d0d0d0;
  color: white;
  font-size: 14px;
  width: 100%;
}

.options .row-grid .search input#search::-webkit-input-placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.options .row-grid .search input#search:-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.options .row-grid .search input#search::-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.options .row-grid .search input#search::placeholder {
  color: #d0d0d0;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.options p.query_header {
  font-size: 12px;
}

.options p.query_header .caret {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -ms-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
}

.options p.query_header .caret.ex {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.options .string {
  width: 85%;
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1rem 1rem;
      grid-template-columns: auto 1rem 1rem;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options .string p {
  font-size: 10px;
}

.options .string svg {
  cursor: pointer;
}

.options .accordion__item {
  margin-bottom: 10px;
}

.options .accordion__button {
  position: relative;
  z-index: 2;
}

.options .accordion__panel {
  position: relative;
  margin: 15px 0;
}

.options .accordion__panel::before {
  position: absolute;
  content: "";
  background: #888888;
  width: 1px;
  top: 0px;
  height: 100%;
  left: 5.5%;
}

.options .accordion__panel .string {
  position: relative;
}

.options .accordion__panel .string::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #a1a1a1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -12%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.connect .row .slider-row {
  height: 200px;
  position: relative;
}

.connect .row .slider-row .slider {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect .row .slider-row .swiper-container {
  margin: 0;
  overflow: visible;
  width: 100% !important;
  margin-top: -10px;
}

.connect .row .slider-row .swiper-wrapper {
  width: auto;
}

.connect .row .slider-row .swiper_card,
.connect .row .slider-row .swiper-slide {
  width: 210px !important;
  height: 150px;
  margin-right: 10px;
}

.connect .row .slider-row .swiper_card {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  place-items: center;
}

.connect .row .slider-row .swiper_card .con_Status {
  position: absolute;
  top: 8px;
  left: 8px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  font-size: 8px;
}

.connect .row .slider-row .swiper_card .con_Status .indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #595959;
}

.connect .row .slider-row .swiper_card .con_Status .indicator.Connected {
  background: #12ff00;
  -webkit-box-shadow: 0px 0px 5px #4bb543, 0px 0px 10px #4bb543, 0px 0px 20px #4bb543;
          box-shadow: 0px 0px 5px #4bb543, 0px 0px 10px #4bb543, 0px 0px 20px #4bb543;
}

.connect .row .slider-row .swiper_card .con_tag {
  font-size: 12px;
  display: inline-block;
}

.connect .row .slider-row .swiper_card .con_btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  font-size: 12px;
  padding: 5px 1.6rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.connect .row .slider-row .swiper_card .con_btn.disconnect {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7b7b), to(#ed1c24));
  background: linear-gradient(180deg, #ff7b7b 0%, #ed1c24 100%);
  -webkit-box-shadow: 0px 2px 10px rgba(237, 28, 36, 0.2), 0px 4px 14px rgba(237, 28, 36, 0.35);
          box-shadow: 0px 2px 10px rgba(237, 28, 36, 0.2), 0px 4px 14px rgba(237, 28, 36, 0.35);
}

.connect .row .slider-row .swiper_card .con_btn.connect {
  background: -webkit-gradient(linear, left top, left bottom, from(#4bb543), to(#198a00));
  background: linear-gradient(180deg, #4bb543 0%, #198a00 100%);
}

.connect .swiper-button-prev {
  background: url("./caret/caret-right-solid.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  left: -10%;
}

.connect .swiper-button-prev::after {
  display: none;
}

.connect .swiper-button-next {
  background: url("./caret/caret-right-solid.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: -10%;
}

.connect .swiper-button-next::after {
  display: none;
}

form {
  width: 100%;
  font-size: 12px;
}

form h5.tag {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

form input {
  padding: 5px;
  background: #231f20;
  width: 100%;
  overflow: hidden;
}

form .dropDown {
  width: 100%;
}

form .cta {
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: end;
      align-self: end;
}

form .cta button {
  background: #198a00;
  margin-left: auto;
  display: inline-block;
  padding: 5px 50px;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */